body {
    margin: 0;
    font-size: 16px;
    color:black;
    font-family: Georgia, serif;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    line-height: 1.5;
}
a {
    color:#f0f;
}
a:hover {
    text-decoration: none;
}
.title {
    
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
footer {
    color:#000;
}
* {
    margin: 0;
    box-sizing: border-box;
}
.text {
    margin-bottom: 50px;
}
.list {
    /* background: #0f0; */
    margin-top: 50px;
}
.team li .team-holder {
    padding: 30px 0 30px;
     text-align: center;
}
.team li h3 {
    margin-bottom: 10px;
}
.team li p {
    margin: 0;
    gap:30px
}
